{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Content -->
<div class="container-xxl vh-100 d-flex align-items-center justify-content-center">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card w-100">
                <div class="row g-0">
                    <div class="card  d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5 custom-bg">
                        <div class="w-100 d-flex justify-content-center">
                            <img src="{% static 'assets/img/elements/finmanlogo.png' %}" class="img-fluid" alt="Login image" width="580">
                            
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-4 d-flex align-items-center">
                        <div class="card-body">
                            <h4 class="mb-2">Welcome to E Banking! 👋</h4>
                            <p class="mb-4">Please sign-in to your account</p>

                            <form id="formAuthentication" class="mb-3" method="POST">
                                {% csrf_token %}
                                {% if messages %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for message in messages %}
                                            <p>{{ message }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email or Username</label>
                                    <input type="text" class="form-control" id="email" name="username" placeholder="Enter your email or username" autofocus required />
                                </div>
                                <div class="mb-3 form-password-toggle">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" for="password">Password</label>
                                    
                                    </div>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" required />
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="remember-me" name="remember" />
                                        <label class="form-check-label" for="remember-me"> Remember Me </label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                                </div>
                            </form>

                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>

<!-- / Content -->
{% endblock content %}

{% block extra_css %}
<style>
    .custom-bg {
        background-color: #696CFF;
        height: 65vh; /* Adjust this value to increase the height */
    }
</style>
{% endblock extra_css %}
