{% extends "base.html" %}

{% load static %}
{% block content %}
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        {% block sidebar %}
        {% include "widgets/sidebar.html" %}
        {% endblock sidebar %}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            {% block navbar %}
            {% include "widgets/navbar.html" %}
            {% endblock navbar %}

            <!--  password reset form -->
            {% include "widgets/password_reset_model.html" %}
            <!-- / password reset form -->
            
            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col-lg-12 mb-4 order-0">
                            <div class="row">
                                {% if accounts %}
                                    {% for account in accounts %}
                                        <div class="col-md-6 col-sm-12">
                                                <div class="card mb-4 relative">
                                                    <div class=" align-items-center row">
                                                        <div class="col-sm-3 text-center" >
                                                            <a onclick="fetchAccountDetails('{{ account.AccNum }}')">

                                                            <img src="{% static "assets/img/elements/account.png" %}"
                                                                alt="User Avatar" class="img-fluid rounded-circle">
                                                            </a>

                                                            </div>
                                                        <div class=" col-sm-6" >

                                                            <a onclick="fetchAccountDetails('{{ account.AccNum }}')">
                                                            <div class="card-body">
                                                                <h5 class="card-title text-primary">{{ account.GroupName }}</h5>
                                                                <p class="mb-2">
                                                                    <span class="fw-medium">Account Number:</span> {{ account.AccNum }}
                                                                </p>
                                                                <p class="mb-2">
                                                                    <span class="fw-medium">Account Balance:</span>
                                                                    <span id="balance-{{ forloop.counter }}" class="balance">{{ account.PBal }}</span>
                                                
                                                                </p>
                                                            </div>
                                                        </a>

                                                        </div>
                                                        <div style="position:absolute; top:20px; right:20px; width:max-content">
                                                            <a href="{% url 'report' %}?account={{ account.AccNum }}" class="menu-link avatar-initial rounded bg-label-primary p-2" >
                                                                <i class=' bx bxs-report'></i>
                                                                
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-12">
                                        <div class="card mb-4 text-center">
                                            <div class="card-body">
                                                <img src="{% static 'assets/img/illustrations/girl-doing-yoga-light.png' %}" alt="No Accounts" class="img-fluid mb-4" style="max-width: 200px;">
                                                <h5 class="card-title text-primary">No Accounts Available</h5>
                                                <p class="mb-4">You haven't added any accounts yet. Please add an account to get started.</p>
                                                <a href="#" class="btn btn-primary">Add Account</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- / Content -->

                <!-- Footer -->
            {% block footer %}
            {% include "widgets/footer.html" %}
            {% endblock footer %}
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

{% endblock content %}


{% block extra_js %}

<script src="{% static "assets/js/amount_show.js" %}"></script>
<script src="{% static "assets/js/password_reset.js" %}"></script>

<script>

    {% if not user.password_changed %}
    const passwordChangeModal = new bootstrap.Modal(document.getElementById('passwordChangeModal'), {
        backdrop: 'static',
        keyboard: false
    });
    passwordChangeModal.show();
{% endif %}
</script>


<script>
    function fetchAccountDetails(accountNumber) {
        const url =  `/dashboard/account_detail/${accountNumber}`;
    
        fetch(url)
            .then(response => response.json())
            .then(data => {
                let modalBody = document.getElementById('accountDetailModalBody');
                modalBody.innerHTML = '';
                
                if (data.isSuccess) {
                    data.data.forEach(account => {
                        let table = document.createElement('table');
                        table.classList.add('table', 'table-striped');
                        
                        for (const [key, value] of Object.entries(account)) {
                            let tr = document.createElement('tr');
                            
                            let th = document.createElement('th');
                            th.textContent = key;
                            
                            let td = document.createElement('td');
                            td.textContent = value;
                            
                            tr.appendChild(th);
                            tr.appendChild(td);
                            table.appendChild(tr);
                        }
                        
                        modalBody.appendChild(table);
                    });
                } else {
                    modalBody.innerHTML = `
                        <div class="alert alert-danger" role="alert">
                            ${data.error}
                        </div>`;
                }
            })
            .catch(error => {
                console.error('Error fetching account details:', error);
                document.getElementById('accountDetailModalBody').innerHTML = `
                    <div class="alert alert-danger" role="alert">
                        Failed to retrieve data from API
                    </div>`;
            });
    
        // Show the modal
        $('#accountDetailModal').modal('show');
    }
    </script>

{% endblock extra_js %}